@import "~normalize.css";
.calendar-header {
  background-color: #000;
  padding: 3px 0;
  height: 22.4px;
  position: relative;

  #monthName {
    width: 100%;
    position: absolute;
    text-align: center;
  }

  #prev,
  #next {
    color: #fff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
  }

  #next {
    right: 0;
  }
}

.current-date,
.weekend,
#monthName {
  color: #fff;
}

.container {
  width: 600px;
  margin: auto;
}

span {
  display: inline-block;
  width: 33px;
  height: auto;
  border: 1px solid #000;
  line-height: 34px;
  font-weight: bold;
  text-align: center;

  &.spaces {
    background-color: gray;
    text-align: center;
  }

  &.current-date {
    background-color: red;
  }

  &.weekend {
    background-color: #4837e7;
  }
}

.week {
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 1px solid #000;
  color: #000;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}

.d-flex {
  display: flex;
}
